body {

    background-color: #DAE0E6;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {

}

.nav {
    font-family: "Yu Gothic UI Semibold";
    text-align: center;
    width: 140px;
    height: 20px;
    font-size: 17px;
    margin: 5px 0;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.nav:hover {
    border-radius: 10px;
    background-color: #f3ecec;

}

.active {
    color: red;
}

